img {
    width: 280px;
    height: 300px;
    border-radius: 12px;
}

body {
    background-color: hsl(220, 15%, 55%);
    font-family: 'Outfit', sans-serif;
}

.container {
    max-width: 300px;
    margin: 0 auto;
    margin-top: 20vh;
    border-radius: 12px;
  }

  .card {
    background-color: white;
    border: 1px solid #bacdd8;
    padding: 8px;
    text-align: center;
    border-radius: 12px;
  }

  .card h2 {
    font-weight: 700;
    color: hsl(218, 44%, 22%);
  }

  .card p {
    color: hsl(212, 45%, 89%);
    font-weight: 400;
  }